<h2><%= link_to "組み合わせ", pairings_path %></h2>
<div class="row">
  <ul>
    <%= render @pairings %>
  </ul>
</div>

<h2><%= link_to "ドリンク", drinks_path %></h2>
<div class="row">
  <ul>
    <%= render @drinks %>
  </ul>
</div>

<h2><%= link_to "おつまみ", foods_path %></h2>
<div class="row">
  <ul>
    <%= render @foods %>
  </ul>
</div>
