<h2><%= link_to "組み合わせ一覧", pairings_path %></h2>
<div class="row">
  <%= render @pairings %>
</div>

<h2><%= link_to "ドリンク一覧", drinks_path %></h2>
<div class="row">
  <%= render @drinks %>
</div>

<h2><%= link_to "おつまみ一覧", foods_path %></h2>
<div class="row">
  <%= render @foods %>
</div>
