<h1>組み合わせの投稿</h1>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= form_with(model: @pairing, local: true) do |f| %>
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "form-control" %>

      <p>ドリンク</p>
      <% unless @drink.nil? %>
        <% drink_title = @drink.title %>
      <% else %>
        <% drink_title = "ドリンクを選択してください" %>
      <% end %>
      <p><%= link_to drink_title, pairings_new_drink_path(food_id: params[:food_id]) %></p>

      <p>おつまみ</p>
      <% unless @food.nil? %>
        <% food_title = @food.title %>
      <% else %>
        <% food_title = "おつまみを選択してください" %>
      <% end %>
      <p><%= link_to food_title, pairings_new_food_path(drink_id: params[:drink_id]) %></p>


      <%= f.label :comment, "コメント" %>
      <%= f.text_field :comment, class: "form-control" %>

      <% unless @drink.nil? || @food.nil? %>
        <%= hidden_field :pairing, :drink_id, value: @drink.id %>
        <%= hidden_field :pairing, :food_id, value: @food.id %>
      <% end %>

      <%= f.submit "投稿", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
