<header class="fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-sm">
      <%= link_to "オツマミ", root_path, id: "logo", class: "navbar-brand" %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="Navbar">
        <ul class="navbar-nav">
          <% if logged_in? %>
            <li class="nav-item"><%= link_to "マイペ－ジ", user_path(current_user), class: "nav-link" %></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                投稿
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "組み合わせ", new_pairing_path, class: "dropdown-item" %>
                <%= link_to "ドリンク", new_drink_path, class: "dropdown-item" %>
                <%= link_to "おつまみ", new_food_path, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item"><%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "新規登録", new_user_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
